.container {
   
    margin: auto;
    margin-top:25px;
    display: grid;
    background-color: grey;
    max-width: 550px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 15px;
  }


  .grid-item {
   
    text-align: center;
    padding: 20px;
    margin: 8px;
    font-size: 30px;
    border: 1px solid black;
    background-color: purple;
  }


  .screen{
    
    grid-column: 1 / -1;
    background-color: red;
    text-align:right;
    font-size: 5em;
 
   
  }


  footer{

   text-align: center ;
   font-size: 25px;
   font-weight: bold;
   margin-top: 15px;
  
  }




/*
  input{

  border: none;
  outline: none;
  direction:RTL;
  color: transparent;
  text-shadow: 0 0 0 black;
  

  } */
  